body{
	
}

.dn{
	display: none;
}

.page{
	height: 100vh;
	position: relative;
	margin-top: -80px;
	&:before{
		content: ' ';
		display: block;
		height: 80px;
	}
	overflow-x: hidden;
	overflow-y: auto;
}

.page-content{
	padding: 20px 30px;
}

.btitle {
	font-size: .875em;
	color: #999999;
	margin: 20px 0 30px;
}

.searchInput{
	width: 300px;
}

.dialog-buttonGroup{
	text-align: right;
}

.page-line{
	margin: 20px 0;
	text-align: right;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.gray {
    color: #8b98a7;
}          
.point {
    cursor: pointer;
}
.el-message {
  top: 150px;
}
